# I (DH) have been using the repository via git-svn, hence this .gitignore file.
html
aclocal.m4
autom4te.cache
test/sandbox
# These two folders are tracked in svn anyway (git won't track folders).
util/SchemaTranslator/scenarios
util/SchemaTranslator/translatedScenarios
util/.metadata
util/SchemaTranslator/SchemaTranslator.class
util/CaseManagementTree/*.class
util/CaseManagementTree/CaseManagementTree
dsss.last
dsss_objs
.sconsign.dblite
build
lib