language: cpp

compiler: gcc

before_install:
  - sudo apt-get -qq install cmake build-essential python libgsl0-dev libboost-all-dev libxerces-c2-dev xsdcxx zlib1g-dev

install:
  - mkdir build && cd build
  - cmake ..

script:
  - make -j2
  - ctest -j2

notifications:
  email:
    - tobias.thuering@unibas.ch
