env:
  global:
    - BASE_URL="https://github.com/SwissTPH/openmalaria"
    - SCHEMA_VERSION=$(cat version.txt | cut -d- -f2 | cut -d. -f1)
    - SCHEMA="scenario_$SCHEMA_VERSION.xsd"
    - OMP_NUM_THREADS=4

os:
  - linux
  - osx

matrix:
  exclude:
    - os: osx
      compiler: gcc

sudo: required
dist: xenial

language: cpp

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
    - build-essential
    - cmake
    - python
    - libboost-all-dev
    - libgsl-dev
    - libxerces-c-dev
    - xsdcxx
    - zlib1g-dev

cache: apt

before_install:
  - test "$TRAVIS_OS_NAME" == "osx" && util/install-dep-osx.sh || echo "not installing osx dependencies"

install:
  - mkdir build && pushd build
  - cmake -DCMAKE_BUILD_TYPE=Release ..

script:
  - make -j4
  - ./openMalaria --version
  - test "$TRAVIS_OS_NAME" == "linux" && ldd openMalaria || otool -L openMalaria
  - echo "Testing release example"
  # We copy everything in this directory. The developer must update the XML to
  # work with the current schema version (USUALLY just updating the numbers).
  - cp -r ../util/example ./
  - cp ../test/*.csv example
  # NOTE: we expect the developer to copy schema/scenario_current.xsd to ../schema/$SCHEMA
  # when creating a new schema version. We DO NOT AUTOMATE this step because we do not want to
  # proliferate multiple incompatible versions of $SCHEMA.
  - echo "Using schema ../schema/$SCHEMA"
  - cp ../schema/$SCHEMA example/
  - cp openMalaria example/
  - pushd example && strip openMalaria && ./run-example-scenario.sh && popd
  - echo "Running test scenarios"
  - ctest -j4
  - popd

after_success:
  - util/generate-checksums.sh build/example
  - util/build-info.sh | tee build/example/travis-build.json

before_deploy:
  - mv build/example openMalaria-$TRAVIS_OS_NAME
  - tar cvzf openMalaria-$TRAVIS_OS_NAME.tar.gz openMalaria-$TRAVIS_OS_NAME

deploy:
  provider: releases
  api_key:
    secure: dOTDLZ10UHm3JoKODtlBMxChFaXOekUM69S2f6eoAt0ctjFPZXHic2aEUvabeZJqq8UX83xO1I0tGTX7DWMvxd7zPTQHcW9N3XxWvgChKxs4OSqRL7GnunI3iZPH8125ZCeMNuh+oCgf1DdfOy0uOgdygGKzvIYEFhd7c5gOH/I=
  skip_cleanup: true
  file: openMalaria-$TRAVIS_OS_NAME.tar.gz
  on:
    tags: true
    condition: $CC = clang

# blacklist
branches:
  except:
    - appveyor-build
    - binary-archive
